<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{% if page.title %}{{ page.title }}{% else %}Tim Brückmann{% endif %}</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32905837-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
 
  <section id="topbar">
    <h1><a href="/" class="dark-link">Tim Brückmann</a></h1>
    <a href="https://twitter.com/tibr" class="twitter-follow-button" data-show-count="false">Follow @tibr</a>
    </div>
    <h3>iOS Dev, <a href="http://rheinfabrik.de/" target="_blank">Rheinfabrik</a> &amp; <a href="http://eisenhower.me/" target="_blank">EISENHOWER</a></h3>
  </section>

  <div id="main">

    {{ content }}

    <footer>
      Say hello: <a href="mailto:tim@tibr.me">tim@tibr.me</a> | <a href="http://twitter.com/tibr" target="_blank">@tibr</a>
    </footer>

</body>
</html>